# VS Code Editor
/.vscode
# VS Code Java
/api/bin
/game/bin
/gameplay/bin

# Gradle
target/
.gradle/
build/

# Intellij
/.idea
*.iml
!/buildTools/buildTools.iml

out
target
logs
/local.properties
*.log
imgui.ini
__pycache__

# Game
/run_client
/run_server
/gameplay/plugins